{% extends "base.html" %}

{% block title %}Game Of Life{% endblock %}

{% block content %}
    <h1>Game Of Life</h1>

    <canvas id="GameCanvas" width="200" height="200"></canvas>
    <hr />

    <div>
        <button 
            class="btn btn-primary" 
            onClick="clickButton()"
            type="submit">Clicks: <span id="clicks">0</span>
        </button>
        <button 
            class="btn btn-danger" 
            onClick="restartGame()"
            type="submit">Restart Game
        </button>
    </div>
    
{% endblock %}

{% block js %}
    <script type="text/javascript" charset="utf-8">
        {% include 'gameoflife/gamelogic.js' %}
    </script>
{% endblock %}